<div class="component-area">
    <span class="title">項目：{{id}}</span>
    <hr>
    <div class="children-area">
        <span class="name">名稱</span>
        <span class="num">數量</span>
        <span class="price">單價</span>
        <span class="total">總價</span>
    </div>
    <ng-container *ngFor="let val of list.values">
        <div class="input-area">
            <input type="text" class="name" [(ngModel)]="val.name">
            <input type="number" class="num" [(ngModel)]="val.num" (blur)="calculatePrice(val)">
            <input type="number" class="price" [(ngModel)]="val.orPrice" (blur)="calculatePrice(val)">
            <input type="number" class="total" [(ngModel)]="val.orTotal" readonly>
        </div>
    </ng-container>
    <button (click)="addListValue()">新增欄位</button>
</div>