<div class="component-area">
    <span class="title">項目：{{id}}</span>
    <hr>
    <div class="children-area">
        <span class="name">名稱</span>
        <span class="num">數量</span>
        <span class="price">單價</span>
        <span class="total">總價</span>
    </div>
    <ng-container *ngFor="let val of list.values">
        <div class="input-area">
            <input class="name" [(ngModel)]="val.name">
            <input class="num" [(ngModel)]="val.num">
            <input class="price" [(ngModel)]="val.orPrice">
            <input class="total" [(ngModel)]="val.orTotal">
        </div>
    </ng-container>
    <button (click)="addListValue()">新增欄位</button>
</div>