<div class="title-area">
  <span>原始價格</span>
  <span>計算結果</span>
</div>
<ng-container *ngFor="let id of blockArrayNum">
  <app-block-area
    [id]="id"
    (totalPrices)="receiveData($event)"
  ></app-block-area>
</ng-container>
<ng-container *ngFor="let id of blockArraySpecialNum">
  <app-block-area-special
    [listAll]="blockArrayAll"
  ></app-block-area-special>
</ng-container>
<div class="sum-area">
  <span>合計：{{totalObj.orTotal}}元</span>
  <span>合計：{{totalObj.caTotal}}元</span>
</div>
<button (click)="addBlock('nor')">增加區塊</button>
<button (click)="addBlock('spe')">增加計算百分比區塊</button>