<div class="title-area">
  <span>原始價格</span>
  <span>計算結果</span>
</div>
<ng-container *ngFor="let id of blockArrayNum; index as ind">
  <app-block-area
    [id]="id"
    [reChangeValue]="blockArrayHasChange[ind]"
    (totalPrices)="receiveData($event)"
  ></app-block-area>
</ng-container>
<ng-container *ngFor="let id of blockArraySpecialNum">
  <app-block-area-special
    [id]="id"
    [listAll]="blockArrayAll"
    (totalPrices)="receiveSpecialData($event)"
  ></app-block-area-special>
</ng-container>
<div class="sum-area">
  <span>合計：{{totalObj.orTotal}}元</span>
  <span>合計：{{totalObj.caTotal}}元</span>
</div>
<div class="range-area-all">
  <div class="range-area">
    <span>預算預期上限值：</span>
    <input type="number" [(ngModel)]="rangeObj.maxV">
  </div>
  <div class="range-area">
    <span>預算預期下限值：</span>
    <input type="number" [(ngModel)]="rangeObj.minV">
  </div>
</div>
<button (click)="addBlock('nor')">增加區塊</button>
<button (click)="addBlock('spe')">增加計算百分比區塊</button>
<button (click)="startCalPrice()">開始計算</button>