.title-area, .sum-area {
    position: relative;
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
    span {
        width: 540px;
        font-size: 48px;
        text-align: center;
    }
    .diff {
        position: absolute;
        right: 0px;
        top: 64px;
    }
}